/*--- Unit ---*/

.unit{
    padding: 10px;       
}
.unit:not(:last-child){
    margin-bottom: 40px;
}
.unit__title{
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;       
}
.unit__task:not(:last-child){
    margin-bottom: 25px;
}

.unit__description{
    margin-bottom: 20px;
}